@import 'react-alice-carousel/lib/scss/alice-carousel.scss';

.glider-list {
  margin-bottom: 5rem;
  .title {
    color: #fff;
    margin-bottom: 1rem;
  }
  .list-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
